.container {
  padding: 20px;
  box-shadow: 0px 1px 6px #22222230;
  border-radius: 5px;
  background-color: #ffffff;
}
@media only screen and (max-width: 600px) {
  .container {
    padding: 0px;
    box-shadow: none;
  }
}
