.customDropdown {
  max-width: 162px;
}

.selectedOrgName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.customElement {
  cursor: pointer;
  display: flex;
}

.customElement [data-arrow="upArrow"] {
  display: none;
}

:global(.show) .customElement [data-arrow="upArrow"] {
  display: inline-block;
}

:global(.show) .customElement [data-arrow="downArrow"] {
  display: none;
}

.orgLabel {
  color: #ffffff80;
  font-size: 14px;
}
