.registerCard {
    max-width: 450px;
    margin-top: 50px;
  }
  .registerContainer {
    background-image: url(./../../../public/assets/img/bg_login.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 60px);
  }
  .loginLogo {
    width: 100px;
    margin: 25px 0px;
  }
  .loginTitle {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 300;
  }
  @media only screen and (max-width: 600px) {
    .registerCard {
      margin-top: 0px;
      max-width: 100%;
      :global .card {
          border: none;
      }
    }
  }