@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.tdei-primary-button {
  background-color: #4DA9AD !important;
  border-color: #59c3c8 !important;
  color: #fff !important;
  font-weight: 600 !important;
  border-radius: 4px !important;
}

.tdei-primary-button:hover,
.tdei-primary-button:active {
  background-color: #4da9ad !important;
  border-color: #4da9ad !important;
  color: #fff !important;
  font-weight: 600;
}

.tdei-primary-link {
  color: #59c3c8;
}

.tdei-primary-link:hover {
  color: #4da9ad;
}

.tdei-secondary-button {
  border-color: #83879b;
}
.tdei-secondary-button:hover {
  background-color: #83879b;
  color: #fff;
  border-color: #83879b;
}
.page-header-title {
  font-size: 20px;
  font-weight: bold;
  color: #2f3661;
}
.page-header-subtitle {
  font-size: 14px;
  color: #83879b;
}

.tdei-bold-name {
  font-size: 16px;
  font-weight: 700;
  color: #2f3661;
  margin-bottom: 8px;
}

.tdei-name-desc {
  font-size: 14px;
  color: #83879b;
}
.tdei-hint-text {
  font-size: 14px;
  color: #83879b;
  font-style: italic;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #2f3661;
  text-decoration: none;
  background-color: #e2f0f8;
}
.apiKey {
  border-top: 1px dashed #b5b5b5;
  margin-top: 10px;
  padding-top: 10px;

}
.jsonContent {
  border: 1px solid var(--text-color);
  margin-top: 1%;
  overflow: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.tdei-button2 {
  color: #59c3c8 !important;
  font-weight: 600;
  border: 2px solid #59c3c8;
}
.tdei-rounded-button{
  background-color: #4da9ad !important; 
  border-color: #4da9ad !important;
  color: #fff !important;
  font-weight: 600;
  border-radius: 100px;
}
.tdei-rounded-button:hover,
.tdei-rounded-button:active {
  background-color: #59c3c8 !important;
  border-color: #59c3c8 !important;
  color: #fff !important;
  font-weight: 600;
}

.nav-tabs .nav-link{
  color: #83879B ;
  background-color: transparent !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  padding: 10px 0px;
  margin-right: 15px;
}

.nav-tabs .nav-link:hover{
  color: gray;
  border:none;
}
.nav-tabs .nav-link.active {
  color: black;
  background-color: #fff;
  font-weight: 600;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid #D3A651;
}
.maroon-bg, 
.maroon-bg:hover{
  background-color: #c84349 !important;
  border-color: #c84349 !important;
  color: #fff !important;
  font-weight: 600;
  border-radius: 100px;
}
.form-group-custom {
  position: relative;
  min-height: 90px;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.form-group-custom .form-control,
.form-group-custom .react-datepicker-wrapper,
.form-group-custom .react-select-container {
  width: 100%;
}

.form-group-custom .invalid-feedback {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
