.description {
  font: normal normal normal 11px/14px Lato;
  opacity: 1;
  font-style: italic;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin-top: -1px;
  color: var(--secondary-color);
  opacity: 1;
}

.disclaimer {
  font-size: 12px;
  margin-top: 16px;
  color: var(--secondary-color);
  opacity: 1;
}

.passwordVisibilityToggleBtn {
  border: 1px solid #dee2e6 !important;
  border-radius: 0px 6px 6px 0px !important;
  &:hover {
    background-color: #f8f8f8 !important;
  }
  &:focus-visible {
    background-color: #f8f8f8 !important;
  }
}