.description {
    font: normal normal normal 11px/14px Lato;
    color: #83879B;
    opacity: 1;
    font-style: italic;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    margin-top: -1px;
    color: var(--secondary-color);
    opacity: 1;
  }

  .disclaimer {
    font: normal normal normal 11px/14px Lato;
    color: #83879B;
    font-size: 12px;
    margin-top: 16px;
    color: var(--secondary-color);
    opacity: 1;
  }