.modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modalContent {
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  .disclaimer {
    font: normal normal normal 12px/16px Lato;
    color: #83879B;
    margin-top: 16px;
    font-style: italic;
  }
  
  .actions {
    margin-top: 24px;
  width: 100%;
  }
  
  .submitButton {
    background-color: var(--primary-color-dark) !important;
  }
  
  .cancelButton {
    border-color: var(--secondary-color);
  }
  