.container {
  padding: 10px;
  width: 15rem;
}
.menuItems {
  border-bottom: 1px solid #2f366112;
  padding: 9px 0;
}
.menuItem {
  display: flex;
  align-items: center;
  padding: 9px;
  color: #42526e;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}
.menuItem:hover {
  background-color: #2f366112;
  color: #42526e;
  border-radius: 4px;
}
.menuItem.active {
  background-color: #2f366112;
  font-weight: 700;
  border-radius: 4px;
}
.menuIcon {
  width: 18px;
  margin-right: 10px;
}
