.skipLink {
  position: absolute;
  top: -50px;
  left: 5px;
  background: #222;
  color: #fff;
  padding: 12px 16px;
  z-index: 1000;
  text-decoration: none;
  border-radius: 4px;
}

.skipLink:focus {
  top: 5px;
}