.stepsBlock {
    border-right: 1px solid #CCCCCC;
    height: 100%;
    padding: 25px 25px;
}
.stepsTabContainer {
    height: calc(100vh - 220px);
    overflow: auto;
    padding: 35px 35px;
}
.uploadDatasetStepsLayout {
    width: 100%;
    border-top: 1px solid;
    border-color: #ccc;
}
.uploadDatasetStepsFooterBlock {
    width: 100%;
    border-top: 1px solid;
    border-color: #ccc;
}
.buttonSecondaryCustomised {
    border: 1px solid var(--secondary-color) !important;
    font-weight: 600 !important;
    color: #162848 !important;
    text-transform: unset !important;
    font-family: var(--primary-font-family) !important;
}
.buttonOutlineCustomised {
    border: 1px solid var(--primary-color) !important;
    font-weight: 600 !important;
    color: var(--primary-color) !important;
    text-transform: unset !important;
    margin-right: 10px !important;
    padding: 5px 8px !important;
    font-family: var(--primary-font-family) !important;
}
.textUnset {
    text-transform: unset !important;
    font-family: var(--primary-font-family) !important;
}
.footerButtonBlock {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stepTimelineTitle {
    font-size: 16px;
    font-weight: 600;
    color: var(--secondary-color);
    font-family: var(--primary-font-family);
}
[class*='Mui-active'], [class*='Mui-completed'] {
    .stepTimelineTitle {
        color: #162848 !important;
    }
}
.stepTimelineSubTitle {
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-color);
    font-family: var(--primary-font-family);
}
.layout {
    height: 100%;
    padding: 10px;
    background-color: #f8f8f8;

    .uploadWidgetTitle {
        font-size: 16px;
        font-weight: 700;
        padding: 15px 30px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    [class*='Container_container'] {
      padding: 0px;
    }
}

  
@media only screen and (max-width: 900px) {
    .stepsBlock {
        border-right: none;
        border-bottom: 1px solid #CCCCCC;
        padding: 25px 25px;
    }
    .stepTimelineTitle {
        font-size: 14px;
    }
}
@media only screen and (max-width: 600px) {
    .stepsBlock {
        padding: 25px 10px;
    }
}