.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 20px;
}

.searchPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  gap: 10px;
  flex-wrap: wrap;
}

.searchPanel input {
  width: 300px;
}

.projectHeader {
  background-color: #f8f8f8;
  font-weight: bold;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px 25px !important;
}

.projectGroupBlock {
  border: 1px solid #ddd;
  box-shadow: 0px 1px 6px #33333314;
  border-radius: 5px;
  margin-bottom: 20px;
  border-left: 8px solid var(--tdei-blue);
}

.projectIdBlock {
  border-top: 1px dashed #ddd;
  padding: 8px 25px;
  background-color: #fbfbfb;
  border-radius: 0px 0px 5px 5px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 25% repeat(4, minmax(120px, 1fr));
  gap: 20px;
  align-items: center;
  padding: 25px 25px;
  font-size: 14px;
}

.menuVertical {
  width: 30px;
  cursor: pointer;
}

.actionItem {
  display: flex;
  justify-content: center;
}

.actionButton {
  padding: 2px 2px;
  &:hover {
    background-color: #f5f5f5;
  }
}

.name {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 2px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.address {
  color: var(--secondary-color);
  font-size: 14px;
}

.details {
  display: flex;
  justify-content: flex-start;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  margin-right: 15px;
}

.content {
  font-size: 16px;
  word-break: break-word;
  line-height: 20px;
}

.notAssigned {
  color: #ffffff;
  background-color: #6c757d;
  border-color: #6c757d;
  border-radius: 20px;
  padding: 5px 15px;
  width: fit-content;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}
.notAssigned:hover,
.notAssigned:active,
.notAssigned:focus-visible {
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}

.pocList {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 5px;
}

.pocIcon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  box-shadow: 0px 3px 6px #00000029;
  margin-right: 6px;
  display: flex;
  padding: 3px;
}

.projectGroupIcon {
  width: 45px;
  margin-right: 10px;
}

.pocUserIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.overlayList {
  font-weight: 700;
  cursor: pointer;
  color: #3470ea;
  font-size: 16px;
  padding-left: 2px;
}
.inactiveSelect{
  width: 150px;
}
.projectGroupActionsButton {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
  margin-top: 10px;
  &::after {
    display: none; 
  }
  &:hover {
    background-color: var(--primary-color);
    color: white;
  }
}
.mobileOnly {
  display: none;
}
.fullWidth {
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 992px) {
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .projectHeader {
    display: none;
  }
  .projectGroupBlock {
    border-top: 5px solid var(--tdei-blue);
    border-left: 1px solid #ddd;
  }
  .mobileOnly {
    display: block;
    font-size: 14px;
    color: #83879B;
    font-weight: 700;
    margin-bottom: 4px;
  }
  .content {
    border-bottom: 1px dashed #cecece;
    padding-bottom: 10px;
  }
  .details {
    border-bottom: 1px dashed #cecece;
    padding-bottom: 15px;
  }
}
@media only screen and (max-width: 600px) {
  .projectGroupActionsButton {
    width: 100%;
  }
}
