.successModal {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.successModal > div {
  padding-bottom: 8px;
}

.title {
  font-size: 20px;
  color: var(--tdei-green);
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}
.message {
  font-size: 18px;
  color: var(--secondary-color);
}
.modalContainer{
  width: 300px;
  align-items: center;
  justify-content: center;
}
.customSuccessModal{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 25px;
  .content {
    background: #FDF3D080 0% 0% no-repeat padding-box;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0px;
    color: #162848;
    opacity: 1;
    padding: 15px 15px;
    width: 100%;
  }
  .customMessage{
    text-align: center;
    font-size: 16px;
    letter-spacing: 0px;
    color: #162848;
    opacity: 1;
    margin: 5px 10px 20px 10px;
  }
}
.footerStyle {
  display: flex;
  justify-content: center; 
}
.modalHeaderIcon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-bottom: 5px;
}

