.datasetsHeader{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
    background-color: #f8f8f8;
}
.datasetsTabsHeaderContainer{
    display: flex;
    /* background-color: green; */
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 2rem;
}
.datasetsTabsHeader,.datasetsTabsHeaderActive {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding:5px;
    cursor: pointer;
    padding-bottom: 0px;
    
}

.datasetsTabsHeaderActive{
    border-bottom: 4px solid #D3A651
}

.datasetsTableHeaderRow{
    background-color: #F8F8F8;
    padding:0.8rem;
    color: #162848;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}
.datasetsTableRow {
    margin-top:1rem;
    margin-bottom: 1rem;
    min-height: 100px;
    box-shadow: 0px 1px 6px #33333314;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    align-content: center;
    align-items: center;
    padding-left:1.2rem; 
    border-left: 12px solid #B6EDD7 ;
    .datasetCard {
      align-items: center;
      padding: 20px 0px;
    }
    /* .infoBlock {
      margin-left: 15px;
    } */
    .datasetTitle {
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .datasetSecondaryInfoBlock {
      font-size: 14px;
      color: #83879B;
      display: flex;
      align-items: center;
      margin-bottom: 2px;
    }
    .verticalSeparator {
      height: 16px;
      display: inline-block;
      border-right: 1.5px solid #ccc;
      margin: 0px 12px;
    }
    .version {
      text-transform: uppercase;
      background-color: #eeeeee;
      border-radius: 4px;
      padding: 0px 6px;
      color: #333;
    }
}
.smallMargin{
    margin-left: 5px;
    margin-right: 5px;
}
.boldText{
    font-weight: 600;
}
.projectHeader {
    background-color: #f8f8f8;
    font-weight: bold;
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: 25% 25% 20% 20% 10%;
    grid-column-gap: 10px;
    /* min-height: 70px; */
    align-items: center;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 14px;
  }
  .customFormControl {
    width: 220px; 
  }
  .statusContainer{
    padding: 10px;
    width: 100px;
    height: 30px;
    border-radius: 100px;
    text-align: center;
    font: normal normal normal 14px/16px Lato;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .datasetsLayout {
    height: 100%;
    padding: 20px ;
    background-color: #f8f8f8;
  }
  .link-with-hover-underline {
    position: relative;
    text-decoration: none;
}

.link-with-hover-underline span:hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 1px;
    background-color: #0969DA;
}
.link-inspect {
  text-align: left;
  font: normal normal bold 14px/16px Lato;
  letter-spacing: 0px;
  color: #0969DA;
  opacity: 1;
}
.dropdownToggle {
  background-color: transparent !important; 
  border: none !important; 
  padding: 0 !important; 
  display: flex;
  align-items: center;
}

.dropdownToggle::after {
  display: none; 
}
.iconBtn{
  background: #F8F8F8 0% 0% no-repeat padding-box !important;
  border: 1px solid #CED4DA !important;
  border-radius: 8px !important;
  opacity: 1 !important; 
  width: 35px;
  height: 35px;
}
.divider {
  border-left: 1px solid #CED4DA;
  height: 30px;
  margin: 0px 15px;
}

.filterSection {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.filterField {
  width: 220px;
  margin-left: 10px;
}