.datasetsHeader{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.datasetsTabsHeaderContainer{
    display: flex;
    /* background-color: green; */
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 2rem;
}
.datasetsTabsHeader,.datasetsTabsHeaderActive {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding:5px;
    cursor: pointer;
    padding-bottom: 0px;
    
}

.datasetsTabsHeaderActive{
    border-bottom: 4px solid #D3A651
}

.datasetsTableHeaderRow{
    background-color: #F8F8F8;
    padding:0.8rem;
    color: #162848;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}
.datasetsTableRow {
    margin-top:1rem;
    margin-bottom: 1rem;
    min-height: 100px;
    box-shadow: 0px 1px 6px #33333314;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    align-content: center;
    align-items: center;
    padding-left:1.2rem; 
    border-left: 12px solid #B6EDD7 ;
}
.smallMargin{
    margin-left: 5px;
    margin-right: 5px;
}
.boldText{
    font-weight: 600;
}