.datasetsHeader{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
    background-color: #ffffff;
}
.datasetsTabsHeaderContainer{
    display: flex;
    /* background-color: green; */
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 2rem;
}
.datasetsTabsHeader,.datasetsTabsHeaderActive {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding:5px;
    cursor: pointer;
    padding-bottom: 0px;
    
}

.datasetsTabsHeaderActive{
    border-bottom: 4px solid var(--primary-color)
}

.datasetsTableHeaderRow{
    background-color: #F8F8F8;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    .datasetCardHeader {
      display: grid;
      grid-template-columns: 40% repeat(4, minmax(100px, 1fr));
      align-items: center;
      .datasetHeaderItem{
        padding-right: 20px;
      }
    }
}
.datasetsTableRow {
    margin-top:1rem;
    margin-bottom: 20px;
    min-height: 100px;
    box-shadow: 0px 1px 6px #33333314;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    align-content: center;
    align-items: center;
    padding: 0px; 
    border-left: 8px solid var(--tdei-blue) ;
    .datasetCard {
      display: grid;
      grid-template-columns: 40% repeat(4, minmax(100px, 1fr));
      align-items: center;
      padding: 25px 20px;
      .datasetItem{
        padding-right: 20px;
      }
      .itemCenterAlign {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
    }
    /* .infoBlock {
      margin-left: 15px;
    } */
    .datasetTitle {
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .datasetSecondaryInfoBlock {
      font-size: 14px;
      color: var(--secondary-color);
      display: flex;
      align-items: center;
    }
    .verticalSeparator {
      height: 16px;
      display: inline-block;
      border-right: 1.5px solid #ccc;
      margin: 0px 12px;
    }
    .version {
      font-size: 13px;
      text-transform: uppercase;
      background-color: #eeeeee;
      border-radius: 4px;
      padding: 0px 6px;
      color: #333;
    }
    .serviceName {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .datasetIdBlock {
      display: flex;
      align-items: center;
      border-top: 1px dashed #ddd;
      padding: 8px 20px;
      background-color: #fbfbfb;
      border-radius: 0px 0px 5px 5px;
    }
}
.smallMargin{
    margin-left: 5px;
    margin-right: 5px;
}
.boldText{
    font-weight: 700;
}
.projectHeader {
    background-color: #f8f8f8;
    font-weight: bold;
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: 25% 25% 20% 20% 10%;
    grid-column-gap: 10px;
    /* min-height: 70px; */
    align-items: center;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 14px;
  }
  .statusContainer{
    padding: 10px;
    width: 100px;
    height: 30px;
    border-radius: 100px;
    text-align: center;
    font: normal normal normal 14px/16px Lato;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .datasetsLayout {
    height: 100%;
    padding: 20px ;
    background-color: #ffffff;
  }
  .link-with-hover-underline {
    position: relative;
    text-decoration: none;
}

.link-with-hover-underline span:hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 1px;
    background-color: #0969DA;
}
.link-inspect {
  text-align: left;
  font: normal normal bold 14px/16px Lato;
  letter-spacing: 0px;
  color: #0969DA;
  opacity: 1;
}
.divider {
  border-left: 1px solid #CED4DA;
  height: 30px;
  margin: 0px 15px;
}

.filterSection {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.filterField {
  width: 300px;
  margin-left: 10px;
}
.dropdownToggleSort {
  background-color: white;
  border: none;
  color: black;
  display: flex;
  align-items: center;
}
.noDataIcon {
  margin-right: 0.25rem;
}
.dropdownToggleSort::after {
  display: none; 
}

.dropdownContainer {
  display: flex;
  justify-content: center;
  .fullWidth {
    width: 100%;
    text-align: center;
  }
  .dropdownToggle {
    /* padding: 4px 10px !important; */
    &:hover {
      background-color: #eeeeee !important; 
    }
  }
  .dropdownToggle::after {
    display: none; 
  }
  .datasetActionsButton {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
    width: 50%;
    margin-top: 10px;
    &::after {
      display: none; 
    }
    &:hover {
      background-color: var(--primary-color);
      color: white;
    }
  }
  .dropdownCard {
    box-shadow: 0px 3px 6px #00000015;
    border: 1px solid #E0E0E0;
    padding: 10px 0px;
  }
  .moreActionIcon {
    height: 24px;
  }
  .itemRow {
    color: #162848;
    font-size: 15px;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    :global
      &.disabled {
        opacity: 0.4;
    } 
  }
  .itemIcon {
    margin-right: 10px;
  }
  .inclinationIcon {
    color: #83879B;
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
}
.dateSection{
  width: 330px; 
}
.filterWrapper {
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-between; 
  align-items: flex-start; 
}

.filtersContainer {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
  align-items: center;
  flex: 1;
}

.dateSection {
  display: flex;
  align-items: center;
  width: 330px; 
}

.sortContainer {
  align-self: flex-start; 
}

.customFormControl {
  width: 300px;
  margin-right: 10px;
}

.dateSection .MuiFormControl-root {
  margin-right: 10px;
}

.iconBtn {
  background: #F8F8F8 0% 0% no-repeat padding-box !important;
  border: 1px solid #CED4DA !important;
  border-radius: 8px !important;
  opacity: 1 !important; 
  width: 40px;
  height: 40px;
  margin-top: 30px !important;
  margin-right: 15px !important;
}
.sortByField {
  width: 300px;
  margin-right: 10px;
}
.jobDropdownToggleSort {
  background-color: transparent !important; 
  border: none !important; 
  padding: 0 !important; 
  display: flex;
  align-items: center;
}
.jobDropdownToggleSort::after {
  display: none; 
}
.sortFilterBtn {
  border: 1px solid #CED4DA !important;
  border-radius: 8px !important;
  opacity: 1 !important; 
  width: 120px;
  height: 40px;
  margin-top: 30px !important;
  color: black !important;
  font: normal normal normal 16px/22px Lato !important;
  text-transform: none !important;
}
.filterComponent{
  background: #F8F8F8 0% 0% no-repeat padding-box !important;
  border: 1px solid #CED4DA !important;
  border-radius: 8px !important;
  opacity: 1 !important; 
  padding: 24px;
  margin-bottom: 20px;
  .datasetFilterBlock {
    margin-bottom: 10px;
  }
}
.labelWithClear {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clearButton {
  color: var(--secondary-color);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
}

.clearButton:hover {
  text-decoration: underline;
}
.mobileOnly {
  display: none;
}
.primaryFilterContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  .primaryFilterBlock {
    width: 240px;
  }
  .primaryFilterBlock_Released {
    width: 240px;
  }
}
.secondaryFilterContainer {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
.typeNameTransform {
  text-transform: uppercase;
}


@media only screen and (max-width: 992px) {
  .datasetsTableHeaderRow {
    display: none;
  }
  .datasetsTableRow {
    border-left: 1px solid #DDDDDD;
    border-top: 5px solid var(--tdei-blue) ;
    .datasetCard {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
      .datasetItem {
        border-bottom: 1px dashed #cecece;
        padding-bottom: 10px;
        &:last-child {
          border-bottom: none;
          padding-bottom: 0px;
        }
      }
      .itemCenterAlign {
        justify-content: flex-start;
      }
    }
    .datasetIdBlock {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  }
  .dropdownContainer {
    justify-content: flex-start;
  }
  .mobileOnly {
    display: block;
    font-size: 14px;
    color: #83879B;
    font-weight: 700;
    margin-bottom: 4px;
  }
  .datasetIdBlock {
    .verticalSeparator {
      display: none;
    }
  }
  .primaryFilterContainer {
    .primaryFilterBlock {
      width: 100%;
    }
    .primaryFilterBlock_Released {
      width: 50%;
    }
  }
  .secondaryFilterContainer {
    justify-content: flex-start;
    margin-left: 0px;
  }
  .sortFilterBtn {
    margin-top: 20px !important;
  }
  .iconBtn {
    margin-top: 20px !important;
  }
}

@media only screen and (max-width: 768px) {
  .filterComponent{
    padding: 15px;
    .datasetFilterBlock {
      margin-bottom: 5px;
    }
  }
  .datasetsTableRow {
    .datasetCard {
      .datasetItem{
        padding-right: 0px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .dropdownContainer {
    .datasetActionsButton {
      width: 100%;
    }
  }
  .primaryFilterContainer {
    .primaryFilterBlock_Released {
      width: 100%;
    }
  }
}

