.card {
    width: 350px;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 20px;
    margin-top: 2rem;
}

.danger {
    color: red;
}

.info {
    cursor: pointer;
    margin-left: 8px;
    margin-top: -2px;   
}

.info img {
    width: 20px;
    height: 20px;
}