.loginCard{
    width: 450px;
    margin-top: 50px;
}
.loginContainer {
    background-image: url(./../../assets/img/bg_login.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 60px);
}
.loginLogo {
    width: 80px;
    margin: 25px 0px;
}