.container {
  border: 1px solid #e2e2e2;
  border-radius: 5px;
}

.buttonWrapper {
  padding-bottom: 2rem;
  border-bottom: 1px dashed #ddd;
}

.buttonWrapper > button {
  margin-right: 1.2rem;
}

.hr {
  border-top: 1px dashed #ddd;
  margin: 2rem 0;
}
