.container {
    height: 60px;
    background-color: #343A40;
    color: #ffffff;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}
.logoImage {
    width: 80px;
}

.profileImage {
    background-color: #ffffff;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    
}