.container {
  height: 60px;
  background-color: var(--primary-color);
  color: #ffffff;
  display: flex;
  padding: 0px 15px;
  align-items: center;
  justify-content: space-between;
}
.logoImage {
  width: 70px;
  background-color: #fff;
  padding: 5px 8px;
  border-radius: 4px;
}
.userIcon {
  width: 28px;
  cursor: pointer;
  margin-right: 10px;
}
.profileImage {
  background-color: #ffffff;
  border-radius: 100%;
  width: 35px;
  height: 35px;
}

.rightContainer {
  display: flex;
  align-items: center;
}

.horizontalLine {
  border-right: 1px solid #ffffff80;
  height: 25px;
  margin-right: 1rem;
}

.userProfile {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
.userProfile > div {
  padding-right: 1rem;
  cursor: pointer;
}

.sideMenuIcon {
  margin-right: 15px;
  margin-left: 10px;
  cursor: pointer;
}

.sideMenuIcon > div {
  width: 24px;
  height: 2px;
  background-color: #ffffff;
  margin: 6px 0;
}

.imgContainer {
  display: flex;
  align-items: center;
}
