.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.insideContainer {
  background-color: #f8f8f8;
  border-radius: 15px;
  width: 70%;
  /* height: 434px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 75px;
  margin: 50px auto;
}

.searchPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.searchPanel input {
  width: 300px;
}

.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
}

.imgBlock {
  background: #f0f1f4;
  border-radius: 5px;
  width: 125px;
  height: 75px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.names {
  display: flex;
  align-items: center;
}

.serviceDetailsContainer {
  border: 1px solid #ddd;
  box-shadow: 0px 1px 6px #33333314;
  border-radius: 5px;
  margin-bottom: 20px;
  border-left: 8px solid var(--tdei-blue);
}

.serviceIdBlock {
  border-top: 1px dashed #ddd;
  padding: 8px 25px;
  background-color: #fbfbfb;
  border-radius: 0px 0px 5px 5px;
}

.serviceName {
  font-size: 16px;
  font-weight: 700;
  /* margin-bottom: 4px; */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.serviceType {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 6px;
  background-color: #f2f2f2;
  display: inline-block;
  padding: 0px 8px;
  border-radius: 4px;
  color: #333;
}

.serviceTypeIcon {
  height: 55px;
  margin-right: 15px;
}

.verticalSeparator {
  height: 20px;
  border-right: 1px solid #CCCCCC;
  margin: 0px 25px;
}

.imgBlock img {
  width: 36px;
  height: 36px;
}

.buttons {
  display: flex;
}

.buttons>div {
  background: #f5f5f5;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.editButton {
  display: flex;
  color: #42526e;
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
  text-decoration: none;
  align-items: center;
  background: #f5f5f5;
  padding: 8px 15px;
}

.editButton:hover,
.editButton:active,
.editButton:focus-visible {
  color: #42526e !important;
  background: #e5e5e5 !important;
}

.deleteButton {
  display: flex;
  color: #a04a00;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  align-items: center;
  background: #f5f5f5;
  padding: 8px 15px;
}

.deleteButton:hover,
.deleteButton:active,
.deleteButton:focus-visible {
  color: #a04a00 !important;
  background: #e5e5e5 !important;
}

.btnText {
  margin-left: 5px;
}

.noDataIcon {
  width: 20px;
}

.noDataText {
  font-size: 14px;
  color: var(--secondary-color);
  margin-left: 5px;
}

/* input {
  color: var(--secondary-color) !important;
} */
.layout {
  height: 100%;
  padding: 20px;
  background-color: #ffffff;

  :global .customBorderColor {
    border-color: #dee2e6;
  }
}

.dropdownButton {
  color: #2f3661 !important;
  border-color: #2f3661;
}

.customFormControl {
  width: 240px;
}

.serviceFilterBlock {
  display: flex;
  align-items: center;
}

.stepComponentTitle {
  font-size: 16px;
  font-weight: 700;
}

.selectServiceFilter {
  margin-left: 10px;
  width: 220px;
}

.highlightedText {
  font-weight: bold;
  font-size: 1em;
  /* font-style: italic; */
  color: var(--primary-color);
}

@media only screen and (max-width: 768px) {
  .block {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 15px 15px;
  }

  .serviceDetailsContainer {
    border-top: 5px solid var(--tdei-blue);
    border-left: 1px solid #ddd;
  }

  .buttons {
    width: 100%;
    border-top: 1px dashed #cecece;
    padding-top: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .serviceFilterBlock {
    width: 100%;
  }

  .customFormControl,
  .selectServiceFilter {
    width: 100%;
  }

  .editButton,
  .deleteButton {
    width: 50%;
    justify-content: center;
  }
}