.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.insideContainer {
  background-color: #f8f8f8;
  border-radius: 15px;
  width: 70%;
  /* height: 434px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 75px;
  margin: 50px auto;
}

.searchPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.searchPanel input {
  width: 300px;
}

.block {
  background: #ffffff;
  /* box-shadow: 0px 1px 6px #65656529; */
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 15px 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgBlock {
  background: #f0f1f4;
  border-radius: 5px;
  width: 125px;
  height: 75px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.names {
  display: flex;
  align-items: center;
}

.imgBlock img {
  width: 36px;
  height: 36px;
}

.buttons {
  display: flex;
}

.buttons > div {
  background: #f5f5f5;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.editButton {
  display: flex;
  color: #42526e;
  font-size: 14px;
  margin-right: 10px;
  text-decoration: none;
  align-items: center;
  background: #f5f5f5;
}
.editButton:hover,
.editButton:active,
.editButton:focus-visible {
  color: #42526e !important;
  background: #f5f5f5 !important;
}
.deleteButton {
  display: flex;
  color: #c65d03;
  font-size: 14px;
  text-decoration: none;
  align-items: center;
  background: #f5f5f5;
}
.deleteButton:hover,
.deleteButton:active,
.deleteButton:focus-visible {
  color: #c65d03 !important;
  background: #f5f5f5 !important;
}
.btnText {
  margin-left: 5px;
}
.noDataIcon {
  width: 20px;
}
.noDataText {
  font-size: 14px;
  color: #83879b;
  margin-left: 5px;
}
